html {
  font-family: serif;
}
@media only screen {
  html {
    font-family: sans-serif;
  }
}

span[lang] { /* Foreign language. */
  font-style: italic;
}

/* Remove links from print */
@media print {
  a {
    font-weight: inherit;
    text-decoration: inherit;
  }
}
